<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
    <link th:href="@{/css.css}" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
</head>
<body>
<h1>Конвертер</h1>
<p>
    <form action="#" th:action="@{/}" th:object="${conversion}" method="post">
       <p>
            <select style="width: 218px" th:field="*{sourceСurrency}" id="source_currency" name="source_currency">
                <option th:each="currency : ${currencies}"th:value="${currency.valuteId}"
                        th:text="${currency.charCode} + ' (' + ${currency.name} + ')'">
                </option>
            </select>

            <select style="width: 218px" th:field="*{targetCurrency}"  id="target_currency" name="target_currency">
                <option th:each="currency : ${currencies}"th:value="${currency.valuteId}"
                        th:text="${currency.charCode} + ' (' + ${currency.name} + ')'">
                </option>
            </select>
        </p>
        <p>
             <input style="width: 212px" th:field="*{originalAmount}" type="text" name="original_amount"/>

             <input style="width: 212px" th:field="*{receivedAmount}" type="text" name="received_amount"  readonly/>
        </p>
        <p>
            <input style="display: table-footer-group" type="submit" value="Конвертировать">
        </p>
    </form>
</p>

<p>
    <h3>История</h3>
    <div id="history">
        <input type="date"
               id="date"
               v-model="date"
               name="date">
        <button v-on:click="history">Поиск</button>
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>
        <section v-else>
            <div v-if="loading">Loading...</div>

            <table  v-else-if="info != null">
                <thead>
                <tr>
                    <td>Исходная валюта</td>
                    <td>Целевая валюта</td>
                    <td>Исходная сумма</td>
                    <td>Получаемая сумма</td>
                    <td>Дата</td>
                </tr>
                </thead>
                <tbody>
                <tr
                    v-for="item in info"
                    class="item"
                >
                    <td>{{ item.sourceCurrencyName }}</td>
                    <td>{{ item.targetCurrencyName }}</td>
                    <td>{{ item.originalAmount }}</td>
                    <td>{{ item.receivedAmount }}</td>
                    <td>{{ item.date }}</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
</p>


<script>
    var history = new Vue({
        el: '#history',
        data: {
            info: null,
            date: new Date().toISOString().slice(0,10),
            errored: false
        },
        methods: {
            history: function (event) {
                if (this.date == null) {
                    req_date = new Date().toISOString().slice(0,10);
                } else {
                    req_date = this.date.toString();
                }
                axios
                    .get('/history?date=' + req_date)
                    .then(response => (this.info = response.data))
                    .catch(error => {
                        console.log(error);
                        this.errored = true;
                    });
            }
        }
    })
</script>
</body>
</html>