<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Конвертер</title>
    <link th:href="@{/css.css}" rel="stylesheet" />
</head>
<body>
<h1>Конвертер валют</h1>
<div>
    <form action="#" th:action="@{/login}" th:object="${login}" method="post">
        <p class="error" th:utext="${message}?: ''"></p>
        <p><input type="text" th:field="*{login}" placeholder="Логин" maxlength="20"/></p>
        <p><input type="text" th:field="*{password}" placeholder="Пароль" maxlength="20" /></p>
        <p><input type="submit" value="Войти" /></p>
    </form>
</div>

</body>
</html>